@font-face {
  font-family: Eina;
  font-style: "regular";
  src: url(./fonts/Eina01-Regular.ttf); }
@font-face {
  font-family: Eina;
  font-weight: 300;
  font-style: "light";
  src: url(./fonts/Eina01-Light.ttf); }
@font-face {
  font-family: Eina;
  font-weight: 600;
  src: url(./fonts/Eina01-Bold.ttf); }
@font-face {
  font-family: Eina;
  font-weight: 500;
  src: url(./fonts/Eina01-SemiBold.ttf); }
@font-face {
  font-family: Graphik;
  font-weight: 400;
  src: url(./fonts/GraphikRegular.otf); }
@font-face {
  font-family: Graphik;
  font-weight: 300;
  src: url(./fonts/GraphikLight.otf); }
@font-face {
  font-family: Graphik;
  font-weight: 600;
  src: url(./fonts/GraphikBold.otf); }
@font-face {
  font-family: Circular Std;
  font-weight: 600;
  src: url(./fonts/Circular-Std-Bold.ttf); }
@font-face {
  font-family: Circular Std;
  font-weight: 400;
  src: url(./fonts/Circular-Std-Book.ttf); }
@font-face {
  font-family: Basier Circle;
  font-weight: 400;
  src: url(./fonts/BasierCircle-Regular.otf); }
* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0; }

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0; }

p,
h2,
h3,
h4 {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
  z-index: 1; }
  .header__top {
    height: 4.6875rem;
    background-color: #040110;
    padding: 10px 0.9375rem;
    line-height: 4; }
  .header__top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto; }
  .header__top__left {
    display: flex;
    align-items: center; }
    .header__top__left img {
      margin-right: 0.625rem; }
      .header__top__left img:first-child {
        width: 2.375rem; }
    .header__top__left .logo_top_right {
      font-family: Basier Circle;
      font-style: normal;
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 1.2;
      color: #ffffff; }
    .header__top__left span {
      font-family: Circular Std;
      font-style: normal;
      font-weight: bold;
      line-height: 1.25;
      font-size: 1.25rem;
      color: #ffeaa0;
      margin-right: 0.625rem; }
  .header__top__right {
    display: flex;
    align-items: center; }
    .header__top__right span {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 3;
      color: #ffffff; }
    .header__top__right img {
      width: 1.625rem;
      margin-left: 0.625rem; }
  .header__content-wrapper {
    max-width: 1210px;
    display: flex;
    padding: 10px 0.9375rem;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 4.6875rem; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo .logo__title {
      font-family: Eina;
      font-style: normal;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 1.35;
      letter-spacing: -0.7px;
      color: #040110; }
    .header__logo .logo__avartar {
      position: relative;
      width: 3.125rem;
      padding: 0.4375rem 0.6875rem 0.3125rem;
      margin-right: 0.9375rem;
      background: linear-gradient(180deg, #feefb7 0%, #ffe899 99.93%);
      border-radius: 50%; }
      .header__logo .logo__avartar img {
        width: 1.71875rem; }
      .header__logo .logo__avartar .badge {
        position: absolute;
        width: 0.9375rem;
        height: 0.9375rem;
        background: #00dc9a;
        border: 1px solid #00dc9a;
        border-radius: 50%;
        left: 2rem;
        bottom: 0; }
  .header__nav__list {
    display: flex; }
  .header__nav__list__item {
    padding: 0 15px; }
  .header__nav__link {
    font-family: Eina;
    color: #040110;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.35;
    letter-spacing: -0.7px;
    position: relative; }
    .header__nav__link:hover {
      color: rgba(4, 1, 16, 0.7);
      transition: all ease-in-out 0.3s; }
      .header__nav__link:hover::before, .header__nav__link:hover::after {
        width: 50%; }
    .header__nav__link::before {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      background-color: #040110;
      transition: all ease-in-out 0.3s;
      bottom: 0;
      right: 50%; }
    .header__nav__link::after {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      background-color: #040110;
      transition: all ease-in-out 0.3s;
      bottom: 0;
      left: 50%; }
  .header.mobile-nav--active .menu-btn .menu-btn__bar--1 {
    transform: translate(-0.1375rem, 0.7rem) rotate(45deg);
    background-color: white; }
  .header.mobile-nav--active .menu-btn .menu-btn__bar--2 {
    opacity: 0; }
  .header.mobile-nav--active .menu-btn .menu-btn__bar--3 {
    transform: translate(-0.1375rem, -0.5rem) rotate(-45deg);
    background-color: white; }
  .header.mobile-nav--active .header__nav {
    right: 0;
    transition: all ease-in-out 0.3s; }
  .header .menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 1.6rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    z-index: 10; }
    .header .menu-btn__bar {
      display: inline-block;
      width: 1.8rem;
      height: 3px;
      background-color: black;
      transition: all 0.5s; }

.page-wrapper {
  background-color: white; }
  .page-wrapper .container {
    max-width: 1034px;
    padding: 0 15px;
    margin: auto; }
  .page-wrapper .section__header {
    display: flex;
    align-items: center;
    margin-bottom: 2.875rem;
    justify-content: center; }
    .page-wrapper .section__header img {
      margin-left: 0.625rem; }
  .page-wrapper .section__title {
    position: relative;
    font-family: Eina;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.05;
    letter-spacing: -0.7px;
    color: #040110; }
  .page-wrapper .section__subtitle {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5625rem;
    line-height: 1.8;
    text-align: center;
    color: #262627;
    max-width: 912px;
    margin: auto;
    margin-bottom: 2.875rem; }
  .page-wrapper .section {
    padding: 6.5625rem 0; }
  .page-wrapper .hero {
    background: #00050f;
    padding: 6rem 0; }
    .page-wrapper .hero__avartar__image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7.5rem;
      height: 7.5rem;
      background: linear-gradient(180deg, #feefb7 0%, #ffe899 99.93%);
      border-radius: 50%;
      margin: auto;
      margin-bottom: 2.0625rem;
      padding: 10px 20px; }
      .page-wrapper .hero__avartar__image-wrapper img {
        max-width: 100%;
        width: 100%; }
    .page-wrapper .hero__back__image-wrapper {
      text-align: center;
      padding: 2.5rem 0; }
    .page-wrapper .hero__text-wrapper {
      text-align: center;
      max-width: 794px;
      padding: 0 0.9375rem;
      margin: auto;
      margin-bottom: 2rem; }
      .page-wrapper .hero__text-wrapper h2 {
        font-family: Eina;
        font-weight: bold;
        font-size: 3.125rem;
        line-height: 1.18;
        color: #ffffff;
        margin-bottom: 0.5rem; }
      .page-wrapper .hero__text-wrapper p {
        font-family: Graphik;
        font-weight: normal;
        font-size: 1.5625rem;
        line-height: 1.8;
        text-align: center;
        color: #ffffff; }
        .page-wrapper .hero__text-wrapper p span {
          color: #fce190; }
  .page-wrapper .company .section__subtitle {
    margin-bottom: 9.875rem; }
  .page-wrapper .company__card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
  .page-wrapper .company__card__item {
    width: calc(33.333% - 3.21875rem); }
    .page-wrapper .company__card__item img {
      width: 100%;
      margin-bottom: 1.875rem; }
    .page-wrapper .company__card__item h4 {
      font-family: Eina;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5625rem;
      line-height: 1.36;
      color: #04010f;
      margin-bottom: 1.25rem; }
    .page-wrapper .company__card__item p {
      font-family: Graphik;
      font-style: normal;
      font-weight: normal;
      font-size: 0.9375rem;
      line-height: 2;
      color: #121212; }
  .page-wrapper .publish {
    padding: 7rem 0 10rem; }
    .page-wrapper .publish .section__subtitle {
      margin-bottom: 6.25rem; }
    .page-wrapper .publish__image-wrapper {
      background: #e7fbf1;
      display: flex;
      justify-content: center;
      padding-top: 5%; }
      .page-wrapper .publish__image-wrapper img {
        width: 90%; }
  .page-wrapper .about .section__subtitle {
    margin-bottom: 7.1875rem; }
  .page-wrapper .about__avartar__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 7.5rem;
    background: linear-gradient(180deg, #feefb7 0%, #ffe899 99.93%);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2.0625rem;
    padding: 10px 20px; }
    .page-wrapper .about__avartar__image-wrapper img {
      width: 100%;
      max-width: 100%; }
  .page-wrapper .about__skills__container {
    position: relative;
    background-color: #ebf4fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5.1875rem 1.375rem 0; }
    .page-wrapper .about__skills__container h4 {
      position: absolute;
      top: -1.5rem;
      left: 0;
      font-family: Eina;
      font-style: normal;
      font-weight: bold;
      font-size: 1.875rem;
      line-height: 41px;
      letter-spacing: -0.7px;
      color: #04010f; }
  .page-wrapper .about__skills__item {
    width: calc(25% - 11px);
    margin-bottom: 2.5rem;
    background: white;
    padding-top: 2.6875rem;
    text-align: center; }
    .page-wrapper .about__skills__item img {
      margin-bottom: 1.125rem; }
    .page-wrapper .about__skills__item .language {
      font-family: Circular Std;
      font-style: normal;
      font-weight: bold;
      font-size: 1.375rem;
      line-height: 32px;
      letter-spacing: -0.6875px;
      color: #000000; }
    .page-wrapper .about__skills__item .type {
      font-family: Circular Std;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.261905px;
      color: #b5bac6;
      margin-bottom: 1.375rem; }
    .page-wrapper .about__skills__item .bottom {
      font-family: Circular Std;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 24px;
      letter-spacing: -0.261905px;
      border-top: 1px solid #eaecf5;
      padding: 1.3125rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .page-wrapper .about__skills__item .bottom-left {
        color: #b5bac6;
        position: relative;
        padding-left: 1.25rem; }
        .page-wrapper .about__skills__item .bottom-left::before {
          content: "";
          position: absolute;
          background-image: url(./assets/arrow.svg);
          top: 0.3125rem;
          left: 0;
          width: 1rem;
          height: 100%;
          background-repeat: no-repeat; }
      .page-wrapper .about__skills__item .bottom-right {
        font-weight: bold;
        line-height: 32px;
        color: #000000; }
  .page-wrapper .chat__avartar__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 7.5rem;
    background: linear-gradient(180deg, #feefb7 0%, #ffe899 99.93%);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2.0625rem;
    padding: 10px 20px; }
    .page-wrapper .chat__avartar__image-wrapper img {
      width: 100%;
      max-width: 100%; }
  .page-wrapper .chat .section__subtitle {
    max-width: 700px; }
  .page-wrapper .chat__contact__container {
    text-align: center; }
    .page-wrapper .chat__contact__container p {
      font-family: Eina;
      font-size: 25px;
      line-height: 45px;
      text-align: center;
      letter-spacing: -0.7px;
      font-weight: 500;
      color: #03000a; }
      .page-wrapper .chat__contact__container p:first-child {
        text-decoration-line: underline; }

.footer {
  background-color: black;
  padding-top: 4.125rem; }
  .footer .container {
    max-width: 1034px;
    padding: 0 0.9375rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
  .footer__nav {
    width: 50%; }
  .footer__nav__menu {
    display: flex;
    flex-wrap: wrap; }
  .footer__nav__menu__item {
    position: relative;
    width: 33.33%;
    margin-bottom: 4.1875rem; }
    .footer__nav__menu__item .item-number {
      position: absolute;
      top: -15px;
      left: 0;
      color: #a1a1a1;
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 0.75rem;
      line-height: 1.6; }
  .footer .footer__nav__link {
    font-family: Eina;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: -0.7px;
    color: #ffdc8c;
    position: relative; }
    .footer .footer__nav__link:hover {
      color: rgba(255, 220, 140, 0.7); }
      .footer .footer__nav__link:hover::before, .footer .footer__nav__link:hover::after {
        width: 50%; }
    .footer .footer__nav__link::before {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      background-color: yellow;
      transition: all ease-in-out 0.3s;
      bottom: 0;
      right: 50%; }
    .footer .footer__nav__link::after {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      background-color: #ffdc8c;
      transition: all ease-in-out 0.3s;
      bottom: 0;
      left: 50%; }
  .footer__widget {
    width: 50%;
    padding: 0 0.8125rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; }
  .footer__widget__left .white-dot-back {
    content: "";
    height: 2.9375rem;
    width: 7rem;
    background-size: 1.5rem 1.625rem;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 0.1875rem, transparent 0px, transparent 100%);
    margin: auto; }
  .footer__widget__left .logo-avartar {
    width: 7.5rem;
    height: 7.5rem;
    background-color: #feefb7;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.9375rem 0; }
    .footer__widget__left .logo-avartar img {
      width: 100%;
      height: 100%; }
  .footer__widget__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    .footer__widget__right .widget-link-text {
      margin-bottom: 4.1875rem; }
      .footer__widget__right .widget-link-text p {
        font-family: Eina;
        font-weight: 500;
        font-size: 1.1875rem;
        line-height: 1.42;
        letter-spacing: -0.7px;
        color: #ffffff;
        margin-bottom: 0.5825rem; }
      .footer__widget__right .widget-link-text a {
        font-family: Eina;
        font-style: normal;
        font-weight: bold;
        font-size: 1.1875rem;
        line-height: 1.42;
        letter-spacing: -0.7px;
        text-decoration-line: underline;
        color: #ffdc8c; }
    .footer__widget__right .widget-link-image {
      display: flex;
      align-items: center; }
      .footer__widget__right .widget-link-image .widget-link-item {
        padding-right: 1.875rem; }
  .footer__copyright {
    width: 100%;
    padding: 2.5rem 0 1.875rem; }
    .footer__copyright p {
      font-family: Eina;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.57;
      letter-spacing: -0.7px;
      color: #ffffff; }

@media (max-width: 1023px) {
  :root {
    font-size: 14px; }

  .page-wrapper .company__card__item {
    width: calc(33.333% - 1.21875rem); } }
@media (max-width: 768px) {
  :root {
    font-size: 12px; }

  .header__top__left.span:nth-child(2) {
    display: none; }
  .header__nav {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    padding-top: 75px;
    height: 100vh;
    background-color: rgba(37, 43, 70, 0.95);
    z-index: 2;
    transition: all ease-in-out 0.3s; }
    .header__nav__list {
      flex-direction: column; }
    .header__nav__list__item {
      line-height: 3; }
    .header__nav__link {
      color: white; }

  .page-wrapper .hero__back__image-wrapper img {
    width: 100%; }
  .page-wrapper .company .section__subtitle {
    margin-bottom: 3.875rem; }
  .page-wrapper .company__card {
    justify-content: space-around; }
  .page-wrapper .company__card__item {
    width: 278px;
    margin-bottom: 2rem; }
  .page-wrapper .about__skills__item {
    width: calc(33.33% - 11px); }

  .footer__widget {
    justify-content: space-between; }
  .footer__widget__left {
    margin-bottom: 20px; }
  .footer__widget__right .widget-link-text {
    margin-bottom: 2.1875rem; }
  .footer__nav__menu__item {
    width: 50%; }
  .footer__copyright p {
    text-align: center; } }
@media (max-width: 576px) {
  .header__top__left .logo_top_right {
    display: none; }

  .page-wrapper .section {
    padding: 3rem 0; }
  .page-wrapper .section__subtitle {
    text-align: left;
    font-size: 1.4rem; }
  .page-wrapper .section__title {
    text-align: left;
    font-size: 2.2rem; }
  .page-wrapper .section__header {
    margin-bottom: 2rem;
    justify-content: left; }
    .page-wrapper .section__header img {
      display: none; }
  .page-wrapper .about__skills__item {
    width: calc(50% - 11px); }
  .page-wrapper .chat__contact__container p {
    font-size: 1.8rem; }

  .footer__widget__right .widget-link-image .widget-link-item img {
    width: 5.5rem; } }
@media (max-width: 425px) {
  .page-wrapper .about__skills__item {
    width: 100%; } }
@media (max-width: 375px) {
  .header__top__container {
    height: 100%; }
  .header__top__left span {
    margin-top: 5px; }

  .footer__nav {
    width: 100%; }
  .footer__widget {
    width: 100%;
    padding: 0;
    align-items: flex-start; } }

/*# sourceMappingURL=style.css.map */
