@font-face {
  font-family: Eina;
  font-style: "regular";
  src: url(./fonts/Eina01-Regular.ttf);
}
@font-face {
  font-family: Eina;
  font-weight: 300;
  font-style: "light";
  src: url(./fonts/Eina01-Light.ttf);
}
@font-face {
  font-family: Eina;
  font-style: "bold";
  src: url(./fonts/Eina01-Bold.ttf);
}
@font-face {
  font-family: Eina-SemiBold;
  font-style: "semi-bold";
  src: url(./fonts/Eina01-SemiBold.ttf);
}

@font-face {
  font-family: Graphik;
  font-style: "regular";
  src: url(./fonts/GraphikRegular.otf);
}
@font-face {
  font-family: Graphik;
  font-style: "light";
  src: url(./fonts/GraphikLight.otf);
}
@font-face {
  font-family: Graphik;
  font-style: "bold";
  src: url(./fonts/GraphikBold.otf);
}
@font-face {
  font-family: Graphik;
  font-style: "italic";
  src: url(./fonts/GraphikRegularItalic.otf);
}

@font-face {
  font-family: Circular Std;
  font-style: "bold";
  src: url(./fonts/Circular-Std-Bold.ttf);
}
@font-face {
  font-family: Circular Std;
  font-style: "regular";
  src: url(./fonts/Circular-Std-Book.ttf);
}
