@font-face {
  font-family: Eina;
  font-style: "regular";
  src: url(./fonts/Eina01-Regular.ttf);
}
@font-face {
  font-family: Eina;
  font-weight: 300;
  font-style: "light";
  src: url(./fonts/Eina01-Light.ttf);
}
@font-face {
  font-family: Eina;
  font-weight: 600;
  src: url(./fonts/Eina01-Bold.ttf);
}
@font-face {
  font-family: Eina;
  font-weight: 500;
  src: url(./fonts/Eina01-SemiBold.ttf);
}

@font-face {
  font-family: Graphik;
  font-weight: 400;
  src: url(./fonts/GraphikRegular.otf);
}
@font-face {
  font-family: Graphik;
  font-weight: 300;
  src: url(./fonts/GraphikLight.otf);
}
@font-face {
  font-family: Graphik;
  font-weight: 600;
  src: url(./fonts/GraphikBold.otf);
}
@font-face {
  font-family: Circular Std;
  font-weight: 600;
  src: url(./fonts/Circular-Std-Bold.ttf);
}
@font-face {
  font-family: Circular Std;
  font-weight: 400;
  src: url(./fonts/Circular-Std-Book.ttf);
}

@font-face {
  font-family: Basier Circle;
  font-weight: 400;
  src: url(./fonts/BasierCircle-Regular.otf);
}
